<div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2 cardProduto" data-produto="{{ produto.id }}">
    <div class="h-100 p-3 shadow">
        <div class="text-center">
            <img src="{{ produto.imagem }}" alt="{{ produto.nome }}" style="height: 200px; width: auto; margin: auto; max-width: 100%">
        </div>

        <div class="card-body">
            <div>
                <h5 class="card-title">{{ produto.nome|truncatechars:37 }}</h5>
                <b>R$ {{ produto.preco }}</b>
            </div>

            <div class="text-center">
                <a class="small text-primary fw-bold text-decoration-none" target="_blank" href="{{ produto.url }}"><i class="fas fa-link"></i> Link</a>
                <p class="text-muted small">
                    <b>Cadastro: </b>{{ produto.data|date:'d M Y'}}<br>
                    <b>Última consulta: </b>{{ produto.ultima_consulta|date:'d M Y'}}
                </p>
            </div>

            <div class="btn-group btn-group-sm w-100">
                <button data-produto="{{ produto.id }}" class="btn btn-outline-danger w-50 btn-excluir">Excluir</button>
                <a href="{% url 'core:detalhes' produto.id %}" class="btn btn-outline-primary w-50">Visualizar</a>
            </div>
        </div>
    </div>
</div>
