{% extends 'core/base.html' %}


{% block content %}
    <!-- FORMULÁRIO DE CADASTRO -->
    <section class="container text-center mt-5 py-5">
        <h1 class="mt-5">Buscar produtos</h1>
        <p>Insira a URL de um produto para monitorar seu preço e receber relatórios diariamente</p>

        <form method="post" id="form-cadastro-url">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ form.url }}
                <label for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>
            </div>
        </form>
    </section>

    <!-- LOJAS -->
    <section class="container">
        <div class="row mx-0">
            <div class="col-6 col-md-3 p-2">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Mercado Livre</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Amazon</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Casas Bahia</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-2">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Americanas</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GRID DE PRODUTOS -->
    <section class="container mt-5">
        <h2>Seus produtos</h2>
        {% if produtos %}
            <div class="row mx-0">
                {% for produto in produtos %}
                    {% include 'core/componentes/cardProduto.html' %}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">Você ainda não cadastrou nenhum produto para ser monitorado</div>
        {% endif %}
    </section>
{% endblock %}

{% block script %}
    <script>
        $(".btn-excluir").on("click", function () {
            const idProduto = $(this).data('produto')
            const card = $(`.cardProduto[data-produto="${ idProduto }"]`)
            const sweet = Swal.mixin({toast: true, position: 'top-end', showConfirmButton: false, timer: 2000})

            Swal.fire({
                icon: 'question',
                title: 'Remover produto?',
                confirmButtonText: "Excluir",
                cancelButtonText: "Cancelar",
                showCancelButton: true,
                reverseButtons: true
            }).then(result => {
                if (result.value) {
                    $.post({
                        url:  `/excluir/${idProduto}`,
                        success: () => {
                            card.fadeOut()
                            sweet.fire({
                                icon: "success",
                                title: "Produto removido com sucesso"
                            })
                        },
                        error: () => {
                            sweet.fire({
                                icon: "error",
                                title: "Falha ao excluir produto"
                            })
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}